h1 {
    color: red;
    font-size: 50px;
    padding: 10px;
}

h2 {
    color: red;
    font-size: 27px;
    margin-left: 35px;
    margin-top: -40px;
}

h1 {
    color: red;
    font-size: 50px;
    padding: 10px;
}

h2 {
    color: red;
    font-size: 27px;
    margin-left: 35px;
    margin-top: -40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul li a {
    text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover { text-decoration: none;
}
a:focus { text-decoration: none;
}
a:active { text-decoration: none;
}

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }